<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2017 Php4u Marcin Szterling. All rights reserved.
 * @author    marcin@php4u.co.uk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Php4u_WbTest" setup_version="1.0.0" >
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>